name: build-ubuntu-gr310

# Controls when the action will run.
on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: daniestevez/gr-satellites-ci-action@v2.0.5
